/* Color */
/* Typography */
/* Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Utilities */
body {
  background-color: #ffffff;
  font-family: "Ubuntu", sans-serif;
}

.full-width {
  width: 100%;
}

.container {
  width: 1270px;
  margin: 0 auto;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.debug {
  border: 1px solid red;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  padding: 10px 50px;
  font-weight: 800;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}
button:hover {
  transform: scale(1.1);
}

.primary-button {
  background-color: #0c7cec;
  color: #ffffff;
}

header {
  background-color: #ffffff;
}
header .header {
  height: 100px;
  display: flex;
  align-items: center;
}
header .header .logo {
  height: 80%;
  margin-right: 70px;
}
header .header .logo img {
  height: 100%;
}
header .header nav {
  height: 100%;
}
header .header nav ul {
  list-style: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header nav ul li {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  border-bottom: 4px solid #ffffff;
  cursor: pointer;
}
header .header nav ul li a {
  color: #464646;
  font-weight: 600;
}
header .header nav ul li:hover {
  border-bottom: 4px solid #0c7cec;
}
header .header nav ul li.active {
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 4px solid #0c7cec;
}
header .header nav ul li.active a {
  color: #0c7cec;
}

main {
  background-color: #1c1c1c;
  padding-top: 100px;
}
main .comics-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}
main .comics-container .card {
  width: 16.6666666667%;
  margin-bottom: 60px;
}
main .comics-container .card .card-container {
  height: 100%;
  width: 100%;
}
main .comics-container .card .card-container img {
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
main .comics-container .card .card-container h4 {
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 100;
  font-size: 15px;
  padding-top: 15px;
}
main .comics-container .home_button {
  margin: 20px auto;
}