/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utilities */
body {
    background-color: $back-col;
    font-family: $font-main;
}

.full-width {
    width: 100%;
}

.container {
    width: 1270px;
    margin: 0 auto;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.debug {
    border: 1px solid red;
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
}

button {
    font-weight: 800;
    font-family: $font-main;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease;
    &:hover {
        transform: scale(1.1)

    }
}

.primary-button {
    background-color: $primary-color;
    color: $secondary-text-color;
    padding: 10px 50px;
}

.border-button {
    background-color: transparent;
    border: 2px solid $primary-color;
    color: $secondary-text-color;
    padding: 15px 30px;
}


