header {
    background-color: $back-col;
    position: fixed;
    top: 0;
    .header{
        height: 100px;
        display: flex;
        align-items: center;
        .logo {
            height: 80%;
            margin-right: 70px;
            img {
                height: 100%
            }
        }
        nav {
            height: 100%;
            ul {
                list-style: none;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                li {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 40px;
                    border-bottom: 4px solid $back-col;
                    cursor: pointer;
                    
                    a {
                        color: $primary-text-color;
                        font-weight: 600;
                    }
                    &:hover {
                        border-bottom: 4px solid $primary-color;
                    }
                }
                li.active {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    border-bottom: 4px solid $primary-color;
                    a {
                        color: $primary-color;
                    }
                }
            
            }
        }
    }
}