/* Color */
$back-col: #ffffff;
$primary-color: #0c7cec;
$secondary-color: #1c1c1c;
$tertiary-color: #303030;


$primary-text-color: #464646;
$secondary-text-color: #ffffff;


/* Typography */
$font-main: 'Ubuntu', sans-serif;